<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/blogs/create">
    <p>blog tile</p><br>
    <input name="title"><br>
    <p>blog content</p><br>
    <textarea name="content"></textarea><br>
    <p>author</p><br>
    <input name="author"><br>
    <p>Category:</p>
    <select th:field="*{categories}">
        <option th:each="c:${categories}" th:value="${c.id}" th:text="${c.name}"></option>
    </select><br>


    <button>save</button>
</form>

</body>
</html>