<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>create category</h1>
<p>
    <a href="/categories">category list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>

</th:block>
<form th:action="@{/categories/save}" method="post"  th:object="${category}">

    <table>
        <tr>
            <td>category name:</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><button>save</button></td>
        </tr>
    </table>



</form>

</body>
</html>